.page-header
  %h1 Editing Your Account
  .row
    = render 'partials/errors', object: resource
    .col-md-4
      %h2 General Info
      %hr
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        %p
          = f.label :steam
          %br/
          = f.text_field :steam, class: 'form-control'
        %p
          = f.label :twitter
          %br/
          = f.text_field :twitter, class: 'form-control'
        %p
          = f.label :facebook
          %br/
          = f.text_field :facebook, class: 'form-control'
        %p
          = f.label :youtube
          %br/
          = f.text_field :youtube, class: 'form-control'
        %p
          = f.label :skype
          %br/
          = f.text_field :skype, class: 'form-control'
        %p
          = f.label :reddit
          %br/
          = f.text_field :reddit, class: 'form-control'
        %p
          = f.label :github
          %br/
          = f.text_field :github, class: 'form-control'
        %p
          = f.label :twitch
          %br/
          = f.text_field :twitch, class: 'form-control'
        %p
          = f.label :location
          %br/
          = f.text_field :location, class: 'form-control'
        %p= f.submit "Update", class: 'btn btn-primary'
    .col-md-4
      %h2 Account Login
      %hr
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        %p
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, class: 'form-control'
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %p
              Currently waiting confirmation for: #{resource.unconfirmed_email}
        %p
          = f.label :password, "New Password"
          %br/
          = f.password_field :password, autocomplete: "off", class: 'form-control'
        %p
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
        %p
          = f.label :current_password
          %br/
          = f.password_field :current_password, autocomplete: "off", class: 'form-control'
        %p= f.submit "Update", class: 'btn btn-primary'
    .col-md-4
      %h2 Settings
      %hr
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        %p
          = f.label :newsletter, 'Subscribe to the newsletter?'
          = f.check_box :newsletter, style: "vertical-align: middle;"
        %p= f.submit "Update", class: 'btn btn-primary'
  .row
    .col-md-12
      %h2 About Me
      %hr
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        %p= f.text_area :about, class: 'form-control', rows: 10
        %p= f.submit "Update", class: 'btn btn-primary'