= form_for @server, html: {multipart: true} do |f|
  = render 'partials/errors', object: @server
  .row
    %h2 Server Information
    %hr
    .col-md-4
      %p
        = f.label :title
        %br/
        = f.text_field :title, class: 'form-control'
      %p
        = f.label :ip, 'IP Address'
        %br/
        = f.text_field :ip, class: 'form-control', placeholder: "External Server IP"
    .col-md-4
      %p
        = f.label :port
        %br/
        = f.text_field :port, class: 'form-control', value: 25444
      %p
        = f.label :country
        %br/
        = country_select("server", "country", {}, {class: 'form-control'})
    .col-md-4
      %p
        = f.label :slots
        %br/
        = f.text_field :slots, class: 'form-control', value: 8
      %p
        = f.label :version
        %br/
        = f.select :version, options_for_select([["2.2.4", "2.2.4"], ["2.2.5", "2.2.5"]]), {}, class: "form-control"
  .row
    %h2
      Tags
      %small Minimum of 1, Maximum of 5
    %p
      = f.label :tag_string, "Tags"
      = f.text_field :tag_string, class: 'form-control', id: "tags-box", placeholder: 'Enter tags here...', style: "width: 60%;", autocomplete: "off", value: @server.tag_text
      :javascript
        tagsComplete(#{raw Server.valid_tags.as_json}, "#tags-box")
      .help-block Seperate tags with a comma.
  .row
    %h2 
      Social Media
      %small (Not Required)
    %hr
    .col-md-4
      %p
        = f.label :twitter
        = f.text_field :twitter, class: 'form-control'
      %p
        = f.label :facebook
        %br/
        = f.text_field :facebook, class: 'form-control'
    .col-md-4
      %p
        = f.label :website
        %br/
        = f.text_field :website, class: 'form-control'
      %p
        = f.label :steam
        %br/
        = f.text_field :steam, class: 'form-control'
    .col-md-4
      %p
        = f.label :youtube
        %br/
        = f.text_field :youtube, class: 'form-control'
      %p
        = f.label :reddit
        %br/
        = f.text_field :reddit, class: 'form-control'
  .row
    .col-md-12
      %h2 Server Banner
      %hr
      %p
        = f.label :banner
        %br/
        = f.file_field :banner
        = f.hidden_field :banner_cache, value: @server.banner_cache
        .help-block A 468x60 Image for the server banner.
  .row
    .col-md-12
      %h2 Server Description
      %hr
      %p
        = f.label :info, 'Description'
        %br/
        = f.text_area :info, class: 'form-control wysihtml5', :rows => "10", :cols => "10", id: 'description'
        .help-block You may use the editor above to help with the formatting of your server description.
  .row
    .col-md-12
      = f.submit "Submit", class: "btn btn-primary"
