- content_for :title do 'Servers' end
- content_for :head do
  %meta{:content => "Unturned Servers List", :name => "description"}
  %meta{:content => "Unturned, Servers, Game, List, Tags, Sort", :name => "keywords"}
.page-header
  .pull-right
    .form-inline
      = form_tag(search_path, :method => :post) do
        = text_field_tag :search, params[:search], class: 'form-control'
        = submit_tag "Search", name: nil, class: "btn btn-primary"
  %h1 Server Listings

.alert.alert-success 
  Welcome to Unturned ServerZ! Feel free to look around and find a server that fits your needs!
  Make sure to share Unturned ServerZ with your friends to help us grow!
  %span.st__hcount{:displaytext => ""}
  %span.st_fblike_hcount{:displaytext => "Facebook Like"}
  %span.st_plusone_hcount{:displaytext => "Google +1"}
  %script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}
  :javascript
    stLight.options({publisher: "c2e6e60e-c42d-4a9b-a6c5-0ca8e2f39a96", doNotHash: false, doNotCopy: false, hashAddressBar: false});
- ori = @servers

- @servers = @sponsored
%h2 Sponsored Servers
%hr
= render 'partials/servers'
- unless @servers.any?
  #none 
    Want to buy a slot?
    %a{href: "#contact", "data-toggle" => 'modal'}
      Contact us!

- @servers = ori
%h2 Unturned Servers
%hr
= render 'partials/servers'