- content_for :title do @server.title end
.page-header
  - if can_manage(@server)
    .pull-right
      .btn-group 
        %button.btn.btn-primary.dropdown-toggle{"data-toggle" => 'dropdown'}
          Manage
          %span.caret
        %ul.dropdown-menu{role: "menu", id: "left-dropdown"}
          %li= link_to 'Edit', edit_server_path(@server)
          %li= link_to 'Delete', server_path(@server), method: :delete, data: {confirm: 'Are you sure you want to delete this server?'}
          %li= link_to 'Reports', server_reports_path(@server)
          %li
            %a{:href => "#contact", "data-toggle" => 'modal'} Sponsor
  %h1= @server.title
.container
  .row
    .col-md-12
      .div.text-center
        .btn-group
          - if current_user and current_user.has_favored(@server)
            = link_to '<i class="fa fa-heart"></i> Unfavor'.html_safe, server_favorite_path(@server, current_user.favorite_for(@server)), class: 'btn btn-danger', rel: "tooltip", title: "Remove this server from your favorites", method: :delete
          - else
            = link_to '<i class="fa fa-heart"></i> Favorite'.html_safe, new_server_favorite_path(@server), class: 'btn btn-danger', rel: "tooltip", title: "Add this server to your favorites"
          %a.btn.btn-success{href: server_vote_path(@server), rel: "tooltip", title: "Vote for this server."}
            %i.fa.fa-thumbs-up
            Vote
          %button.btn.btn-primary{"data-target" => "#connect-modal", "data-toggle" => "modal", rel: "tooltip", title: "Learn how to connect to this server."} 
            %i.fa.fa-play
            Connect
          #connect-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{"data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                    %span.sr-only Close
                  %h4.modal-title{style: 'text-align: left;'} Connecting
                .modal-body{style: 'text-align: left;'}
                  To connect to an Unturned Server follow these steps:
                  %ol
                    %li 
                      Open 
                      %a{href: "steam://rungameid/304930"} Unturned 
                      and select Play.
                    %li Click 'Connect.'
                    %li 
                      Set the port to 
                      %strong '#{@server.port}'
                    %li 
                      Set the IP Address to 
                      %strong '#{@server.ip}'
                    %li Click 'Connect.'
                .modal-footer
                  %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Close
          %a.btn.btn-danger{href: new_server_report_path(@server), rel: "tooltip", title: "Report an issue with this server."}
            %i.fa.fa-flag
            Report
  .row
    .col-md-12
      .text-center{style: "margin-top: 5px"}
        - if @server.steam != nil and @server.steam != ""
          %a.social{href: "http://steamcommunity.com/groups/#{@server.steam}", rel: "tooltip", title: "Server Steam Group", data: {placement: "top"}}
            %i.fa.fa-steam-square.social-media{style: "color: black;"}
        - if @server.facebook != nil  and @server.facebook != ""
          %a.social{href: "#{@server.facebook}", rel: "tooltip", title: "Server Facebook Page", data: {placement: "top"}}
            %i.fa.fa-facebook-square.social-media{style: "color: blue;"}
        - if @server.twitter != nil and @server.twitter != ""
          %a.social{href: "http://twitter.com/#{@server.twitter}", rel: "tooltip", title: "Server Twitter", data: {placement: "top"}}
            %i.fa.fa-twitter-square.social-media{style: "color: #4099FF;"}
        - if @server.reddit != nil and @server.reddit != ""
          %a.social{href: "http://reddit.com/r/#{@server.reddit}", rel: "tooltip", title: "Server Subreddit", data: {placement: "top"}}
            %i.fa.fa-reddit-square.social-media{style: "color: lightblue;"}
        - if @server.youtube != nil and @server.youtube != ""
          %a.social{href: "https://www.youtube.com/user/#{@server.youtube}", rel: "tooltip", title: "Youtube Channel", data: {placement: "top"}}
            %i.fa.fa-youtube-square.social-media{style: "color: #FF0202;"}
        - if @server.website != nil and @server.website != ""
          %a.social{href: @server.website, rel: "tooltip", title: "Server Website", data: {placement: "top"}}
            %i.fa.fa-html5.social-media
        :javascript
          $('.social').tooltip();
  .row
    .col-md-12
      .text-center
        %div{style: 'margin-top: 15px;'}
          = image_tag server_banner_url(@server), width: '468', height: '60'
  .row-fluid
    .col-md-6
      %h2 Server Information
      %hr
      %table.table.table-bordered{style: "font-size: 15px;"}
        %tbody
          %tr
            %td 
              %i.fa.fa-arrow-circle-up
              IP Address
            %td
              %span{id: 'server-ip', "data-clipboard-text" => @server.ip, rel: "tooltip", title: "Click to copy to clipboard.", href: "#", data: {placement: "top"}}= @server.ip
              :javascript
                var client = new ZeroClipboard(document.getElementById("server-ip"));
                $("#server-ip").tooltip();
          %tr
            %td
              %i.fa.fa-arrow-circle-up
              Port
            %td= @server.port
          %tr
            %td 
              %i.fa.fa-history
              Version
            %td{style: "vertical-align: middle;"}
              %a.no-deco{href: version_path(@server.version.gsub(".", "-"))}
                %span.label.label-primary{style: "vertical-align: middle; font-size: 14px;"}= @server.version
          %tr
            %td 
              %i.fa.fa-list-ol
              Slots
            %td= @server.slots
          %tr
            %td
              %i.fa.fa-tag
              Tags
            %td{style: "width: 65%"}
              .div
                - @server.tags.each do |tag|
                  %a.tag{href: tag_path(tag.text)}
                    %span.badge{style: "display: inline-block;"}=tag.text
          %tr
            %td 
              %i.fa.fa-user
              Owner
            %td= link_to @server.user.username, user_path(@server.user.username), class: 'no-deco'
          %tr
            %td
              %i.fa.fa-location-arrow
              Location
            %td{style: "vertical-align: middle;"}
              %a{href: country_path(server.country), id: server.country, alt: server.country_name}
                %span=server.get_flag
              %span{style: "vertical-align: middle;"}= @server.country_name
          %tr
            %td 
              %i.fa.fa-calendar-o
              Registered
            %td{style: "vertical-align: middle;"}
              .label.label-default= time_ago_in_words(@server.created_at) + ' ago'
          %tr
            %td
              %i.fa.fa-calendar
              Updated
            %td{style: "vertical-align: middle;"}
              .label.label-default= time_ago_in_words(@server.updated_at) + ' ago'
      %h2 Embeddable Buttons
      %hr
      .div
        %p
          %iframe{src: server_embed_path(@server), scrolling: "no", frameborder: 0, id:"votes-reg", onLoad: "autoResize('votes-reg');", height: "1"}
          %br/
          %a.btn.btn-primary.btn-sm{data: {toggle: "collapse", target: "#code1"}} Code
          %textarea.collapse.form-control{rows: 3, id: "code1"}= "<script src='#{server_display_url(@server)}'></script>"
        %p
          %iframe{src: server_embed_path(@server, size: "small"), scrolling: "no", frameborder: 0, id:"votes-sm", onLoad: "autoResize('votes-sm');", height: "1"}
          %br/
          %a.btn.btn-primary.btn-sm{data: {toggle: "collapse", target: "#code2"}} Code
          %textarea.collapse.form-control{rows: 3, id: "code2"}= "<script src='#{server_display_url(@server, size: "small")}'></script>"
        %p
          %iframe{src: server_embed_path(@server, type: "favorites"), scrolling: "no", frameborder: 0, id:"favorites-reg", onLoad: "autoResize('favorites-reg');", height: "1"}
          %br/
          %a.btn.btn-primary.btn-sm{data: {toggle: "collapse", target: "#code3"}} Code
          %textarea.collapse.form-control{rows: 3, id: "code3"}= "<script src='#{server_display_url(@server, type: "favorites")}'></script>"
        %p
          %iframe{src: server_embed_path(@server, type: "favorites", size: "small"), scrolling: "no", frameborder: 0, id:"favorites-sm", onLoad: "autoResize('favorites-sm');", height: "1"}
          %br/
          %a.btn.btn-primary.btn-sm{data: {toggle: "collapse", target: "#code4"}} Code
          %textarea.collapse.form-control{rows: 3, id: "code4"}= "<script src='#{server_display_url(@server, type: "favorites", size: "small")}'></script>"
    .col-md-6{id: "stats-col"}
      %h2 Statistics
      %hr
      %table.table.table-bordered{style: "font-size: 15px;"}
        %tbody
          %tr
            %td{style: 'width: 50%'}
              %i.fa.fa-heart
              Favorites
            %td= @server.favorites.size
          %tr  
            %td{style: 'width: 50%'}
              %i.fa.fa-thumbs-up
              Votes
            %td= @server.votes.size
          %tr
            %td{style: 'width: 50%'} 
              %i.fa.fa-eye
              Views
            %td 0
      .text-center
        %h3 Graphed Statistics
        .tabbable
          %ul.nav.nav-tabs
            %li.tab-pane.active
              %a{"data-toggle" => "tab", href: "#voting"} Voting
            %li.tab-pane
              %a{"data-toggle" => "tab", href: "#favorites"} Favorites
          .tab-content{style: "overflow: visible;"}
            .tab-pane.active{id: "voting"}
              %canvas{id: 'votes-chart', height: "350"}
            .tab-pane{id: "favorites"}
              %canvas{id: 'favorites-chart', height: "350"}

        - today = Time.now
        :javascript
          var labels = ["#{(today - 6.day).strftime("%A")}", "#{(today - 5.day).strftime("%A")}", "#{(today - 4.day).strftime("%A")}", "#{(today - 3.day).strftime("%A")}", "#{(today - 2.day).strftime("%A")}", "#{(today - 1.day).strftime("%A")}", "#{today.strftime("%A")}"]
          displayChart("votes-chart", labels, getData("votes"), "votes");
          displayChart("favorites-chart", labels, getData("favorites"), "favorites");

          function getData(type) {
            var data = [];
            if (type == "favorites") {
              data = [#{get_time(@server, 6, "favorites")}, #{get_time(@server, 5, "favorites")}, #{get_time(@server, 4, "favorites")}, #{get_time(@server, 3, "favorites")}, #{get_time(@server, 2, "favorites")}, #{get_time(@server, 1, "favorites")}, #{get_time(@server, 0, "favorites")}]
            } else if (type == "votes") {
              data = [#{get_time(@server, 6, "votes")}, #{get_time(@server, 5, "votes")}, #{get_time(@server, 4, "votes")}, #{get_time(@server, 3, "votes")}, #{get_time(@server, 2, "votes")}, #{get_time(@server, 1, "votes")}, #{get_time(@server, 0, "votes")}]
            }
            return data;
          }
      %h2 
        Share
        %small 
          Promote This Server
      %hr
      %span.st_facebook_large{:displaytext => "Facebook"}
      %span.st_googleplus_large{:displaytext => "Google +"}
      %span.st_twitter_large{:displaytext => "Tweet"}
      %span.st_email_large{:displaytext => "Email"}       
  .row
    .col-md-12
      %h2 Description
      %hr
      = simple_format(@server.info)
  .row
    .col-md-12
      %h2 
        Comments
        .pull-right
          .btn.btn-primary.btn-sm{id: 'click-btn'} Add Comment
      %hr
      - if current_user
        %div{id: 'show-form', show: false}
          = render 'comments/form'
        :javascript
          $("#show-form").toggle("show"); 
          $("#click-btn").click(function() {
            if ($("#show-form").is(":visible")) {
              $("#click-btn").text("Add Comment")
            } else {
              $("#click-btn").text("Hide")
            } 
            $("#show-form").toggle("show"); 
          }); 
      - if @server.comments.select { | comment | comment.valid? }.any?
        = render 'comments/view'
      - else
        #none No comments have been posted yet.
:javascript
  var switchTo5x=true;
%script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}
:javascript
  stLight.options({publisher: "c2e6e60e-c42d-4a9b-a6c5-0ca8e2f39a96", doNotHash: true, doNotCopy: true, hashAddressBar: false});