- content_for :head do
  %meta{:content => "Reports for Unturned Server #{@server.title}", :name => "description"}
  %meta{:content => "Servers, Unturned, Server, Reports", :name => "keywords"}
  %meta{:content => "#{@server.user.username}", :name => "author"}
- content_for :title do "Reports for #{@server.title}" end
.page-header
  %h1 
    Reports for:
    %small= @server.title
    .pull-right
      .btn-group
        = link_to 'Back', @server, class: 'btn btn-danger'
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Server
      %th Reporter
      %th Reasoning
      %th Time
  %tbody
    - @reports.each do |report|
      %tr
        %td= report.server.title
        %td= report.user.username
        %td= report.reason
        %td= time_ago_in_words(report.created_at)