- content_for :head do
  %meta{:content => "Reporting Unturned Server #{@server.title}", :name => "description"}
  %meta{:content => "Servers, Unturned, Server, Report, New", :name => "keywords"}
  %meta{:content => "#{@server.user.username}", :name => "author"}
- content_for :title do 'New Report' end
.page-header
  %h1 
    Reporting:
    %small= @server.title
    .pull-right
      .btn-group
        = link_to 'Cancel', @server, class: 'btn btn-danger'
= render 'form'