%head
  %title
    - if content_for? :title
      Unturned Servers - #{yield :title}
    - else
      Unturned Servers
  %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
  = favicon_link_tag
  = stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'
  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'application'
  = javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
  = csrf_meta_tags
%body
  = render 'partials/navbar'
  .header-alert
    = render 'partials/alerts'
  = render 'partials/contact'
  = render 'partials/analytics'
  %div.pagefair-acceptable{id: "6ef79e5277"}
  = yield
  = render 'partials/footer'