%head
  %title
    - if content_for? :title
      Unturned ServerZ - #{yield :title}
    - else
      Unturned ServerZ
  %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
  -if content_for? :head
    %meta{:charset => "UTF-8"}
    = yield(:head)
  - else
    %meta{:charset => "UTF-8"}
    %meta{:content => "Unturned Servers List", :name => "description"}
    %meta{:content => "Servers, Unturned, Game", :name => "keywords"}
    %meta{:content => "Jake0oo0", :name => "author"}
  = favicon_link_tag
  = stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'
  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'application'
  = javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
  = csrf_meta_tags
%body
  = render 'partials/navbar'
  .header-alert
    = render 'partials/alerts'
  = yield
  = render 'partials/lowerad'
  = render 'partials/footer'
  = render 'partials/analytics'
  = render 'partials/contact'
