%head
  %title
    - if content_for? :title
      Unturned Servers - #{yield :title}
    - else
      Unturned Servers
  %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
  = favicon_link_tag
  = stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'
  = stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'
  = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'
  = javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
  = csrf_meta_tags
%a.btn{class: "btn #{@class} btn-#{@color}", href: @url, target: '_blank'}= @text